#pro_image{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin: 15px;
    float: left;
}
h1,h2{
    text-align: center;
    font-size: 30px;
    padding-bottom: 7px;
}
#discription{
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-right: 15px;
    padding-left: 10px;
    
}
#line{
    clear: left;
    border-top: solid 5px white;
    margin: 15px;
}
#content{
    display: flex;
    flex-direction: row; 
    
}
#mapp{
    margin-left: 30px;
    margin-right: 150px;   
    margin-top: 20px;
}
#formm{
    font-size: 20px;
}
input{
    border: solid 2px rgba(231, 230, 219, 0.541);
}
.for{
    margin: 15px;
}
input[type=submit]{
    background-color: rgb(35, 193, 204);
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    width: 100px;
    height: 50px;
    color: white;
}
@media all and (max-width: 800px){
    #pro_image{
        width: 10rem;
        height: 10rem;
        margin: 1rem;
    }
    h1,h2{
        font-size: 1.3rem;
        padding-bottom: 0.5rem;
    }
    h3{
        font-size: 1rem;
    }
    #discription{
        font-size: 1rem;
        margin-top: 0.5rem;
        margin-right: 1rem;
        padding-left: 1rem;   
    }
    #content{
        display: grid;
    }
    #mapp{
        margin: 0 1rem;
    }
    #formm{
        margin-top: 2rem;
        margin-left: 1.5rem;
        
    }
}