*{
    padding: 0;
    margin: 0;
}
body{
    margin: 5px;
    background-color: rgb(178, 218, 243);
    border: rgb(255, 255, 255) solid 5px;
}
header{
    background-color: rgb(138, 221, 138);
    border-bottom: white 5px solid;
}
nav{
    float: right;
    padding-right: 15px;
    text-shadow: black;
    text-transform: uppercase;
}
#logo{
    width: 150px;
    height: 90px;
}
nav > ul >li{
    margin-top: 25px;
    padding: 10px 5px;
    font-size: 20px;
    color: rgb(173, 171, 169);
    display: inline-block;
}
nav > ul > li > a{
    padding-bottom: 10px;
    color: rgb(16, 0, 241);
    text-decoration: none;
}

nav > ul > li:hover{
    border-bottom: solid 5px white;
    background-color:rgba(255, 255, 255,0.3);
    color: black;
}
.active{
    border-bottom: solid 5px rgb(63, 49, 49);
}
#footer{
    padding-top: 20px;
    text-align: center;
    background-color: rgb(138, 221, 138);
    border-top: rgb(255, 255, 255) solid 5px;
}
.foo{
    padding-right: 10px;
    text-decoration: none;
}
.footer1{
    padding-bottom: 10px;
    background-color: rgb(138, 221, 138);
    text-align: center;
    margin-top: 30px;
    font-size: 15px;
}
@media screen and (max-width: 700px ) {
    nav > ul > li{
        font-size: 0.625rem;
        margin-top: 1.063rem;
        padding: 0.037rem;   
    }
    #logo{
        height: 2.5rem;
        width: 4.375rem;
    }
    nav > ul > li > a{
        margin: 0.065rem;
        padding-bottom: 0.313rem;
    }
    #footer{
        padding-top: 1rem;
    }
    .foo{
        padding-right: 0.6rem;
    }
    .footer1{
        padding-bottom: 10px;
        margin-top: 1rem;
        font-size: 0.8rem;
    }
}
  
